    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;500&display=swap');
    body{
        background-color: hsl(217, 54%, 11%);
        background-size: cover;
        font-family: 'Outfit';
        line-height: 2rem;
        display: flex;
        justify-content: center;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: 0;
        

    }
    div.card{
        background-color: hsl(216, 50%, 16%) ;
        
        
        border-radius: 12px;
        max-width: 610px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
        margin-bottom: 20%;
        padding: 20px;

        box-shadow: 0px 0px 50px 25px hsl(215, 52%, 9%);
        
        
        
    }
    div.content{
        flex: 1;
    }

    img.nft{
     max-width: 100%;
     max-height: 100%;
     object-fit: cover;
     border-radius: 12px;   
    }

    h1{
        color: white;
        font-size: 20px;
        
    }

    #description{
        font-size: 18px;
        color: hsl(215, 51%, 70%);
        font-weight: 100;
    }

    .details > img,
    .details > span{
        display: inline-block;
    }



    #price{
        color: hsl(178, 100%, 50%);
        font-size: 18px;
        
    }
    #time{
        
        color: hsl(215, 51%, 70%);
        font-size: 18px;
    }
    .ethereum{
        width: 18px;
        height: auto;
    }
    .clock{
        width: 18px;
        height: auto;
    }

    .details--price, .details--time{
        width: 49%;
        display: inline-block;
    }
    .details--time{
        text-align: right;
    }
    .ethereum, #price, .clock, #time{
        vertical-align: middle;
    }
    hr{
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1px solid hsl(215, 32%, 27%);
    }

    .user{
        color: hsl(215, 51%, 70%);
        font-weight: 400;
        display: inline-block;
    }

    .user span.username{
        color: white;
        font-weight: 500;
        text-align: center;
    }

    .user > img{
        width: 50px;
        height: 50px;
        padding: 1.25px;
        border-radius: 30px;
        background-color: white;
        
        
    }

    .user img, .user span{
        vertical-align: middle;
        
    }
    .attribution { 
        font-size: 11px; text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    